:root {
  --black-dark: #000000;
  --black-medium: #0a0a0a;
  --black-light: #131618;
  --black-extralight: #181c1f;

  --gray-dark: #383838;
  --gray-light: #a1a1a1;

  --white-dark: #e5e5e5;
  --white-light: #ffffff;

  --blue-dark: #1f5c99;
  --blue-medium: #007fff;
  --blue-light: #3399ff;

  --blue-medium-blend-black-dark: #001933;
  --blue-medium-blend-black-medium: #08213b;
  --blue-medium-blend-black-light: #0f2b46;
  --blue-medium-blend-black-extralight: #13304c;

  --blue-medium-blend-gray-dark: #2d4660;
  --blue-medium-blend-gray-light: #819ab4;

  --blue-medium-blend-white-dark: #b7d1ea;
  --blue-medium-blend-white-light: #cce5ff;

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: "Inconsolata Regular", monospace;

  --spacing-ultrasmall: 2px;
  --spacing-extrasmall: 4px;
  --spacing-small: 6px;
  --spacing-medium: 8px;
  --spacing-large: 10px;
  --spacing-extralarge: 12px;
  --spacing-huge: 14px;
  --spacing-extrahuge: 16px;
  --spacing-ultrahuge: 22px;
  --spacing-navbar-bottom: 24px;

  --navbar-height: 58px; /* This is measured manually to make sure that the site doesn't need JS to function */
}

/* Mode specific settings */
@media (prefers-color-scheme: light) {
  body {
    background: var(--white-dark);
    color: var(--black-dark);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--black-medium);
    color: var(--white-dark);
  }

  a:link {
    color: var(--blue-light);
  }

  a:visited {
    color: var(--blue-light);
  }

  a:hover {
    text-decoration-style: solid;
  }

  .c-button-link:link, .c-button-link:visited {
    color: var(--white-dark);
  }

  pre {
    background: var(--black-light);
  }

  .c-button {
    border: 1px solid var(--gray-dark);
    background-color: var(--black-light);
    color: var(--white-dark);
  }

  .c-button:hover {
    border: 1px solid var(--blue-medium-blend-gray-dark);
    background-color: var(--blue-medium-blend-black-light);
    color: var(--white-light);
  }

  .c-card {
    background: var(--black-extralight);
  }

  .c-navbar {
    background-color: var(--black-light);
  }

  .c-navbar-hamburger-toggle-icon {
    color: var(--white-dark);
  }

  .c-navbar-logo-text {
    color: var(--white-dark);
  }

  .c-navbar-navigation a {
    color: var(--white-dark);
  }

  .c-navbar-logo-text a {
    color: var(--white-dark);
  }

  #about-me-profile-picture {
    border: 2px solid var(--white-dark);
  }

  #about-me-profile-picture-placeholder {
    background-color: var(--black-extralight);
    border: 2px solid var(--white-dark);
  }
}

/* Basic elements */
html {
  font-family: var(--font-family-sans-serif);
  line-height: 1.5;
  font-size: 16;
}

body {
  margin: var(--spacing-navbar-bottom) var(--spacing-extrahuge) var(--spacing-extrahuge);
}

p {
  margin: 0;

  &:not(:last-child)  {
    margin-bottom: var(--spacing-large);
  }
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

pre {
  overflow: auto;
  max-height: 500px;
  padding: var(--spacing-small) var(--spacing-large) var(--spacing-small) var(--spacing-large);
  border: none;
  font-size: 14;

  margin: 0;
  &:not(:last-child)  {
    margin-bottom: var(--spacing-medium);
  }
}

pre, code {
  font-family: var(--font-family-monospace);
}

img {
  width: 100%;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

footer {
  font-size: 12;
}

/* Fonts */
@font-face {
  font-family: "Inconsolata Regular";
  src: url("./assets/fonts/inconsolata_regular.ttf");
}

/* Content */
.c-content-area {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.c-content-box {
  padding: 0;
  border: none;

  margin: 0;
  &:not(:last-child)  {
    margin-bottom: var(--spacing-medium);
  }
}

.c-e-content-box-post-list {
  margin: 0;
  &:not(:last-child)  {
    margin-bottom: var(--spacing-ultrahuge);
  }
}

.c-content-subtitle {
  font-size: 12;
}

.c-content-description {
  font-size: 14;
}

.c-content-tags {
  font-size: 12;
  font-style: italic;
  color: rgb(from var(--white-dark) r g b / 50%);
}

#blog-post-list, #portfolio-post-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-ultrahuge);
}

#blog-post-list-card-container, #portfolio-post-list-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: var(--spacing-large);
}

#blog-post-list-card-container .c-card, #portfolio-post-list-card-container .c-card {
  margin-bottom: 0;
}

#blog-post-list-description, #portfolio-post-list-description, #blog-post-list-rss {
  width: 100%;
}

#blog-post-list-rss-button {
  width: 100%;
  margin-bottom: var(--spacing-extrasmall);
}

.c-post-navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-small);
  width: 100%;
  margin-bottom: var(--spacing-extrahuge);
}

.c-post-navigation-secondary-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small);
}

/* Navbar */
.c-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-huge) var(--spacing-extrahuge);
  box-sizing: border-box;
  z-index: 9999;
}

.c-navbar ul {
  list-style-type: none;
}

.c-navbar-hamburger-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-navbar-hamburger-toggle-icon, .c-navbar-close-toggle-icon {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.c-navbar-hamburger-toggle-icon svg, .c-navbar-close-toggle-icon svg {
  width: 22;
  height: 22;
}

.c-navbar-hamburger-toggle-icon input[type="checkbox"] {
  appearance: none;
}

.c-navbar-logo-text {
  font-size: 20;
  font-weight: normal;
  margin: 0px;
}

.c-navbar-logo-text a {
  text-decoration: none;
}

.c-navbar-navigation {
  display: flex;
  gap: 1rem;
  margin: 0px;
}

@media screen and (max-width: 600px) {
  .c-navbar {
    display: block;
  }

  .c-navbar-navigation {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.15s ease-in-out;
    padding: 0;
  }

  .c-navbar-logo {
    display: flex;
    justify-content: space-between;
  }

  .c-navbar-hamburger-toggle-icon {
    display: block;
  }

  .c-navbar-close-toggle-icon {
    display: none;
  }

  .c-navbar:has(.c-navbar-hamburger-toggle input[type="checkbox"]:checked) .c-navbar-navigation {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    max-height: 1000px;
  }

  .c-navbar:has(.c-navbar-hamburger-toggle input[type="checkbox"]:checked) .c-navbar-hamburger-toggle-icon {
    display: none;
  }

  .c-navbar:has(.c-navbar-hamburger-toggle input[type="checkbox"]:checked) .c-navbar-close-toggle-icon {
    display: block;
  }
}

body:has(.c-navbar) .c-content-area {
  margin-top: calc(var(--navbar-height) + var(--spacing-navbar-bottom));
}

/* Components */
.c-button {
  padding: var(--spacing-small);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  min-width: 150px;
  font-size: 14;
  height: 32px;
}

.c-e-button-main {
  border: 1px solid var(--blue-medium);
  background-color: var(--blue-medium);
  color: var(--white-light) !important;
}

.c-e-button-main:hover {
  border: 1px solid var(--blue-light);
  background-color: var(--blue-light);
  color: var(--white-light) !important;
}

.c-e-button-icon-only {
  min-width: 32px !important;
}

.c-button-link {
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  display: inline-block;
  align-content: center;
  padding: 0;
  box-sizing: border-box; /* Draw the border inside the box instead of on it's outer edge */
}

.c-card {
  padding: var(--spacing-small) var(--spacing-large) var(--spacing-small) var(--spacing-large);
  border: none;
  box-sizing: border-box;

  margin: 0;
  &:not(:last-child)  {
    margin-bottom: var(--spacing-medium);
  }
}

.c-card-title-3 {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}

.c-card-title-3 {
  &:first-child  {
    margin-top: 0;
  }
}

.c-blog-metadata {
  margin-bottom: var(--spacing-ultrahuge);
}

.c-blog-metadata p {
  font-size: 14;

  margin: 0;
  &:not(:last-child)  {
    margin-bottom: var(--spacing-small);
  }
}

.c-text-image {
  pointer-events: none;
}

.c-text-image-letters {
  height: 12.3;
}

.c-text-image-number {
  height: 9.3;
}

/* Specifics */
#about-me-content-box {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-extrahuge);
}

#about-me-profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-small) !important;
  margin-bottom: var(--spacing-small) !important;
  gap: var(--spacing-large);
}

#about-me-profile-picture-placeholder {
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
}

#about-me-profile-picture {
  height: 160px;
}

#about-me-profile-picture-caption-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

#about-me-profile-picture-caption-container p {
  text-align: center;
}

#about-me-description-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#about-me-details-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.about-me-details-individual-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-small);
}

.about-me-details-individual-container img {
  width: auto;
}

.about-me-details-individual-container p {
  font-size: 14;
}

.about-me-details-individual-container svg {
  flex-shrink: 0;
}

@media screen and (max-width: 600px) {
  #about-me-content-box {
    flex-direction: column;
    align-items: center;
  }
}

#contact-and-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: var(--spacing-large);
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: var(--spacing-small);
}

#contact-and-profile-container .c-card {
  margin-bottom: 0;
  width: 100%;
}

#contact-information-footer {
  margin-top: var(--spacing-ultrahuge);
}

@media screen and (max-width: 600px) {
  #contact-and-profile-container {
    flex-direction: column;
  }
}
