<html>
  <head>
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="stylesheet.css">
  </head>

  <body>
    {{ COMPONENT_NAVBAR }}
    <div class="c-content-area" id="error-404">
      <div id="error-404-message">
        <h1><b>404</b></h1>
        <p><b>Page Not Found</b></p>
        <p>The requested page is not available. It was either removed, is temporarily unavailable, had its name changed, or never existed.</p>
      </div>
      <div id="error-message-go-back-home-button">
        <a class="c-button-link c-button c-e-button-main" href="/">Go back home<a>
      </div>
    </div>
    {{ COMPONENT_FOOTER }}
  </body>
</html>
