<html>
  <head>
    <title>{{ POST_TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/stylesheet.css">
  </head>

  <body>
    <div class="c-navbar">
      <div class="c-navbar-logo">
        <h1 class="c-navbar-logo-text"><a href="/">G.A. Jazali</a></h1>
        <div class="c-navbar-hamburger-toggle">
          <input type="checkbox" id="navbar-dropdown-toggle" hidden>
          <label for="navbar-dropdown-toggle" class="c-navbar-hamburger-toggle-icon" aria-label="Toggle menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </label>
          <label for="navbar-dropdown-toggle" class="c-navbar-close-toggle-icon" aria-label="Close menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          </label>
        </div>
      </div>
      <ul class="c-navbar-navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://static.jazali.net/documents/cv.pdf">CV</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="https://github.com/gjazali">GitHub</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="c-content-area">
      <div class="c-post-navigation-container">
        <div class="c-post-navigation-primary-container">
          <p><a href="/blog">Blog</a>&ensp;/&ensp;{{ POST_TITLE_FOR_NAVIGATION }}</p>
        </div>
        <div class="c-post-navigation-secondary-container">
          <a class="c-button-link c-button c-e-button-icon-only" href="/contact">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
            </svg>
          </a>
          <a class="c-button-link c-button c-e-button-icon-only" href="/blog/index.xml">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
              <path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1m0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="c-card c-blog-metadata">
        <p><b>Author:</b> {{ POST_AUTHOR }}</p>
        <p><b>Posted on:</b> {{ POST_CREATED }}</p>
        <p><b>Last edited on:</b> {{ POST_MODIFIED }}</p>
      </div>
      {{ POST_CONTENT }}
    </div>
  </body>
</html>
