<html>
  <head>
    <title>G.A. Jazali's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css">
  </head>

  <body>
    {{ COMPONENT_NAVBAR }}
    <div class="c-content-area">
      <h1>Portfolio</h1>
      <div id="portfolio-post-list">
        <div id="portfolio-post-list-card-container">
          <div class="c-card">
            <p>Below is a list of the most notable projects I've worked on. The list is currently incomplete, as it is being migrated from my old <a href="https://cv.jazali.org/#notable-projects">portfolio site</a>.</p>
          </div>
        </div>
        <div>
          {{ POST_LIST }}
        </div>
      </div>
    </div>
    {{ COMPONENT_FOOTER }}
  </body>
</html>
