<html>
  <head>
    <title>G.A. Jazali's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css">
  </head>

  <body>
    {{ COMPONENT_NAVBAR }}
    <div class="c-content-area">
      <h1>Portfolio</h1>
      <div class="c-post-list">
        <div class="c-post-list-details">
          <p>Below is a list of the most notable projects I've worked on.</p>
        </div>
        <div>
          {{ POST_LIST }}
        </div>
      </div>
    </div>
    {{ COMPONENT_FOOTER }}
  </body>
</html>
