<html>
  <head>
    <title>{{ POST_TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
  </head>

  <body>
    <div class="c-navbar">
      <div class="c-navbar-logo">
        <h1 class="c-navbar-logo-text"><a href="/">G.A. Jazali</a></h1>
        <div class="c-navbar-hamburger-toggle">
          <input type="checkbox" id="navbar-dropdown-toggle" hidden>
          <label for="navbar-dropdown-toggle" class="c-navbar-hamburger-toggle-icon" aria-label="Toggle menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </label>
          <label for="navbar-dropdown-toggle" class="c-navbar-close-toggle-icon" aria-label="Close menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          </label>
        </div>
      </div>
      <ul class="c-navbar-navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://static.jazali.net/documents/cv.pdf">CV</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="https://github.com/gjazali">GitHub</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="c-content-area">
      <div class="c-post-navigation-container">
        <div class="c-post-navigation-primary-container">
          <p><a href="/{{ POST_LIST_PATH }}">{{ POST_LIST_NAME }}</a>&ensp;/&ensp;{{ POST_TITLE_FOR_NAVIGATION }}</p>
        </div>
        <div class="c-post-navigation-secondary-container">
        </div>
      </div>
      <div class="c-card c-post-metadata">
        <p><b>Author:</b> {{ POST_AUTHOR }}</p>
        <p><b>Posted on:</b> {{ POST_CREATED }}</p>
        <p><b>Last edited on:</b> {{ POST_MODIFIED }}</p>
      </div>
      {{ POST_CONTENT }}
    </div>
    <footer>
      <p>Copyright &copy; 2026 G.A. Jazali&ensp;&middot;&ensp;<a href="https://github.com/gjazali/site/blob/main/LICENSE">MIT License</a>&ensp;&middot;&ensp;<a href="https://github.com/gjazali/site">Source code</a></p>
    </footer>
  </body>
</html>
