<html>
  <head>
    <title>{{ POST_TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css">
  </head>

  <body>
    {{ COMPONENT_NAVBAR }}
    <div class="c-content-area">
      <div class="c-post-navigation-container">
        <div class="c-post-navigation-primary-container">
          <p><a href="/{{ POST_LIST_PATH }}">{{ POST_LIST_NAME }}</a>&ensp;/&ensp;{{ POST_TITLE_FOR_NAVIGATION }}</p>
        </div>
        <div class="c-post-navigation-secondary-container">
        </div>
      </div>
      <div class="c-card c-post-metadata">
        <p><b>Author:</b> {{ POST_AUTHOR }}</p>
        <p><b>Posted on:</b> {{ POST_CREATED }}</p>
        <p><b>Last edited on:</b> {{ POST_MODIFIED }}</p>
      </div>
      {{ POST_CONTENT }}
    </div>
    {{ COMPONENT_FOOTER }}
  </body>
</html>
